* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin: 5rem;
}

p {
    margin: 5rem;
}

/* media queries */

@media (min-width: 576px) {
    body {
    background-color: green;
    }
    h1 {
        color: rgb(147, 253, 153);
    }
    h1::after {
        content: "mobile screen 576px and up";
    }
}

@media (min-width: 768px) {
    body {
        background-color: blueviolet;
    }
    h1 {
        color: rgb(219, 135, 222);
    }
    h1::after {
        content: "tablet screen 768px and up";
    }
}

@media (min-width: 992px) {
    body {
        background-color: rgb(43, 214, 226);
    }
    h1 {
        color: rgb(0, 247, 255);
    }
    h1::after {
        content: "large screen 992px and up";
    }
}

@media (min-width: 1200px) {
    body {
        background-color: rgb(226, 43, 43);
    }
    h1 {
        color: rgb(250, 106, 106);
    }
    h1::after {
        content: "extra large screen 1200px and up";
    }
}
