* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* first task */

.first-task {
    margin-left: 5rem;
    width: 5rem;
    height: 5rem;
    background-color: antiquewhite;
    border-radius: 50%;
}

.first-task:hover {
    width: 6rem;
    height: 6rem;
    background-color: aquamarine;
    transition: all .5s;
}

/* second task -- rotate rectangle */

.second-task {
    margin-left: 5rem;
    width: 5rem;
    height: 5rem;
    background-color: antiquewhite;
}

.second-task:hover {
    transform: rotate(180deg);
    background-color: aquamarine;
    transition: all .5s;
}

/* third task -- display text on hover */

.third-task {
    margin-left: 5rem;
    width: 5rem;
    height: 5rem;
    background-color: antiquewhite;
}

.third-task p {
    display: none;
}

.third-task:hover {
    width: 4rem;
    height: 4rem;
}

.third-task:hover p {
    display: block;
}

/* fifth task -- borders appear on hover */

.fifth-task {
    margin-left: 5rem;
    width: 10rem;
    height: 5rem;
    background-color: sandybrown;
}

.fifth-task:hover {
    border: 5px solid purple;
    transition: .5s;
}

/* sixth task -- animation */

@keyframes animaatio {
    0% {border-radius: 50%;}
    50% {border-radius: 0%; background-color: black; margin-left: 500px; margin-top: 200px;}
    100% {border-radius: 50%;}
}

.animated-circle {
    margin-left: 5rem;
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: animaatio;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.animated-circle:hover {
    animation-play-state: paused;
}

/* seventh task -- alive background */

body {
  min-height: 100vh;
  background: linear-gradient(-45deg, #1F2123, #6BD0FF, #1A74E2, #1F2123);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}