:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

header nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(249, 166, 58);
}

header nav #logo {
    padding: 1rem;
    font-size: 2rem;
}

header nav .icon {
    display: none;
}

header nav ul {
    padding: 1rem;
    list-style-type: none;
    color: #ffffff;
}

/* note js toggle */
header nav ul.mobilemenu {
    display: block;
}

header nav ul li {
    padding: 0 1rem;
    display: inline-block;
    position: relative;
}

header nav ul li ul {
    display: none;
    position: absolute;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 0.1rem;
    margin-top: 1rem;
    z-index: 1;
}

header nav ul li ul li {
    color: chocolate;
    padding: 1rem 0;
    text-decoration: none;
    display: block;
}

header nav ul li:hover ul {
    display: block;
}

header nav ul li a {
    color: var(--primary-highlight);
    text-decoration: none;
    padding: 1rem;
}

header nav ul li a:hover {
    background-color: rgb(249, 203, 143);
    color: var(--primary-white);
    border-radius: 0.2rem;
}

/* main sections */

main {
    height: 100vh;
    padding: 1rem;
    background-color: rgb(249, 203, 143);
}

main section {
    padding: 10rem 0;
}

/* media queries */

@media (max-width: 768px) {
    header nav ul {
        display: none;
    }
    header nav .icon {
        display: block;
        padding-right: 1rem;
    }
    header nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background-color: bisque;
        width: 100%;
        color: #333333;
    }
    header nav ul li {
        display: block;
    }
    header nav ul li a {
        display: block;
        padding: 1rem;
    }
    header nav ul li ul {
        visibility: visible;
        opacity: 1;
        display: block;
        position: relative;
        top: 0;
        padding: 0 0 0 1rem;
        background-color: bisque;
    }
}